@using SmartHome.Dto.Dashboard
@using SmartHome.Enum

<!-- Start Area -->
<div class="bg-white rounded-xl shadow-md p-2">
    <!-- Sensor & Name Header -->
    <div class="flex flex-col flex-row justify-between items-center mb-8 gap-2">
        <h1 class=" sm:text-l md:text-l lg:text-xl font-bold text-gray-800">@AreaModel.Name</h1>
        @foreach(var device in AreaModel.AreaDevices){
            @if (device.DeviceType.Type == DeviceTypes.TEMPRATURE_SENSOR)
            {
                <TempratureSensor DeviceModel="device"/>
            }
        }
        
    </div>

    <!-- Devices Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-2">
        <!-- to control # of Devices -->
        @foreach(var device in AreaModel.AreaDevices){
            if(device.DeviceType.Type == DeviceTypes.Lamp){
				<Lamp DeviceModel="device" ControllerId="@AreaModel.ControllerId" />
            }
            else if (device.DeviceType.Type == DeviceTypes.FAN){
                <Fan DeviceModel="device" ControllerId="@AreaModel.ControllerId" />
            }
        }
    </div>
</div>

@code {
	[Parameter]
	public OverviewAreaDto AreaModel { get; set; } = new();
}
