@inherits LayoutComponentBase



<AuthorizeView>
	<Authorizing>
		@Body
	</Authorizing>
	<NotAuthorized>
		<style>
			body {
				background-color: #F4E7FF;
			}
		</style>
		<div class="container">
			@Body
		</div>
	</NotAuthorized>
</AuthorizeView>