body {
    background-color: #FFF;
    overflow-x: clip;
    overflow-y: clip;
}

﻿.loader {
    width: 4px;
    height: 86px;
    background: #ddd;
    margin: auto;
    position: relative;
    animation: shake 1s linear infinite alternate, lightup 1s linear infinite;
    transform-origin: 0 0;
    margin-bottom: 2ex;
}

.loader::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 32px;
    height: 16px;
    box-sizing: border-box;
    border: 5px solid #120126;
    border-top: none;
    border-radius: 0 0 20px 20px;
}

.loader::after {
    content: '';
    left: 50%;
    bottom: 0;
    position: absolute;
    transform: translateX(-50%);
    width: 64px;
    height: 32px;
    border-radius: 50px 50px 0 0;
    background: #ddd;
}

@keyframes shake {
    0% {
        transform: rotate(10deg)
    }

    100% {
        transform: rotate(-10deg)
    }
}

@keyframes lightup {
    0%,20%, 40% {
        opacity: 0
    }

    10%, 30%, 50%, 100% {
        opacity: 1
    }
}

@media (max-width: 640px) {
    .min-h-screen {
        min-height: 100dvh !important;
    }
}

/* contianer */

/*.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    /*border:1px solid #000;*/
    /*background-color: #FFF;
    border-radius: 28.46px;
    margin-top:0;
}

@media (min-width: 300px) {
    .container {
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
    /*border:1px solid #000;*/
    /*background-color: #FFFFFF;
        border-radius: 28.46px;
        margin-top: 0;
    }
}

@media (min-width: 576px) {
    .container {
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
    /*border:1px solid #000;*/
    /*background-color: #FFFFFF;
        border-radius: 28.46px;
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .container {
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
    /*border:1px solid #000;*/
    /*background-color: #FFFFFF;
        border-radius: 28.46px;
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .container {
        width: 32%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
    /*border:1px solid #000;*/
    /*background-color: #FFFFFF;
        border-radius: 28.46px;
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
    /*border:1px solid #000;*/
    /*background-color: #FFFFFF;
        border-radius: 28.46px;
        margin-top: 0;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 28%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
    /*border:1px solid #000;*/
    /*background-color: #FFFFFF;
        border-radius: 28.46px;
        margin-top: 0;
    }
}*/





