body {
    background-color: var(--body-light) !important;
}

/*@media (max-width: 640px) {
    .min-h-screen {
        min-height: 100dvh !important;
    }
}*/

@media (max-width: 640px) {
    .min-h-\[100dvh\] {
        min-height: 100vh !important;
        min-height: -webkit-fill-available !important;
        -webkit-overflow-scrolling: touch;
    }
}


input, textarea {
    font-size: 16px !important;
    touch-action: manipulation;
}
/* contianer */

/*.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
/*border:1px solid #000;*/
/*background-color: #FFF;
    border-radius: 28.46px;
    margin-top:0;
}

@media (min-width: 300px) {
    .container {
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
/*border:1px solid #000;*/
/*background-color: #FFFFFF;
        border-radius: 28.46px;
        margin-top: 0;
    }
}

@media (min-width: 576px) {
    .container {
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
/*border:1px solid #000;*/
/*background-color: #FFFFFF;
        border-radius: 28.46px;
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .container {
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
/*border:1px solid #000;*/
/*background-color: #FFFFFF;
        border-radius: 28.46px;
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .container {
        width: 32%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
/*border:1px solid #000;*/
/*background-color: #FFFFFF;
        border-radius: 28.46px;
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
/*border:1px solid #000;*/
/*background-color: #FFFFFF;
        border-radius: 28.46px;
        margin-top: 0;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 28%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
/*border:1px solid #000;*/
/*background-color: #FFFFFF;
        border-radius: 28.46px;
        margin-top: 0;
    }
}*/




