.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-color: #120126;
    width: 80px;
    transition: width 0.3s ease;
}

 .sidebar.expanded {
     width: 250px !important;
  }

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a, .top-row ::deep .btn-link {
            margin-left: 0;
        }

    .sidebar {
        display:none;
    }

    :root {
        --primColor: #120126;
        --secoColor: #555555;
        --cornerRad: 4px;
    }



    /* تنسيق الصورة بحيث تبقى ثابتة في مكانها */
    .user-image {
        border-radius: 50%;
        width: 50px;
        cursor: pointer;
        transition: transform 0.3s ease;
        position: relative;
        z-index: 1; /* لضمان ظهور الصورة فوق باقي المحتوى */
    }

    /* إخفاء checkbox */
    input[type="checkbox"] {
        display: none;
    }

        /* تغيير الصورة عند النقر */
        /*input[type="checkbox"]:checked + label img {
            content: url('../wwwroot/imgs/user.png');*/ /* استبدل بمسار صورة X */
        /*}*/

    /* تنسيق القائمة المنبثقة */
    .menu {
        display: none; /* إخفاء القائمة في البداية */
        background-color: #120126;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        border-radius: var(--cornerRad);
        margin-top: 8px;
        position: absolute;
        top: 49px; /* جعل القائمة تظهر تحت الصورة مباشرة */
        left: 0;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px 0;
        z-index: 0; /* تأكد من أن القائمة تحت الصورة */
        color: #fff;
    }

    /* إظهار القائمة عند تفعيل checkbox */
    input[type="checkbox"]:checked + label + .menu {
        display: block; /* عرض القائمة عند النقر */
    }

    .menu a {
        padding: 12px 24px;
        margin: 0;
        color: var(--secoColor);
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        text-decoration: none;
        text-align: center;
        display: block; /* لجعل الروابط تظهر تحت بعضها */
        transition: filter 200ms linear;
    }

        .menu a:hover {
            background-color: rgba(255, 255, 255, 0.25);
            text-decoration:none;
        }

        /* عند الضغط على الرابط، يبقى محدداً */
        .menu a:target {
            background-color: rgba(255, 255, 255, 0.25);
        }

        /* عندما يتم الضغط على الرابط يظل مميزًا */
        .menu a.active {
            background-color: rgba(255, 255, 255, 0.25);
        }
        .menu a:last-child {
            border-bottom: none; /* إزالة الحدود من آخر رابط */
        }

        .menu a:hover {
            filter: brightness(200%);
        }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
/*        width: 250px;*/
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }


    #toggleMenu{
        display:none;
    }
    .menu{
        display:none;
    }

    /* تنسيق الصورة بحيث تبقى ثابتة في مكانها */
    .user-image {
        border-radius: 50%;
        width: 50px;
        cursor: pointer;
        transition: transform 0.3s ease;
        position: relative;
        z-index: 1; /* لضمان ظهور الصورة فوق باقي المحتوى */
    }

    /* hide القائمة عند تفعيل checkbox */
    input[type="checkbox"]:checked + label + .menu {
        display: none; /* hide القائمة عند النقر */
    }

    /* إخفاء checkbox */
    input[type="checkbox"] {
        display: none;
    }
}
