@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Material 3 Palette */
    --primary: #6750A4;
    --on-primary: #FFFFFF;
    --secondary: #625B71;
    --on-secondary: #FFFFFF;
    --background: #FFFBFE;
    --surface: #FFFFFF;
    --surface-variant: #53437C;
    --on-surface: #1C1B1E;
    --error: #B3261E;
    --on-error: #FFFFFF;
    --body-light: #F3F2FD;
}

html, body {
    background-color: var(--body-light) !important;
}

#navbar-title {
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

/* navbar horizontal*/
.navbar-horizontal {
background-color: var(--primary);
color: var(--on-primary);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ظل خفيف */
transition: box-shadow 0.3s ease-in-out;
}
.navbar-horizontal:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.temperature-icon {
color: #FBB03B;
}

.notification-icon {
color: #FFD26A;
}

/*navbar vertical*/
.navbar-vertical {
background-color: var(--surface-variant);
color: var(--on-primary);
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
transition: width 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

/* animation text on sidebar */
.navbar-vertical .nav-item span,
#navbar-title {
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* لما الـ Navbar تكون collapsed، hide text */
.navbar-vertical.collapsed .nav-item span,
.navbar-vertical.collapsed #navbar-title {
    opacity: 0;
}

.navbar-vertical .nav-item {
    width: 100%;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.5s ease;
}

    .navbar-vertical .nav-item:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .navbar-vertical .nav-item .icon {
        fill: var(--on-primary);
        width: 24px;
        height: 24px;
    }
