@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Material 3 Palette */
    --primary: #6750A4;
    --on-primary: #FFFFFF;
    --secondary: #625B71;
    --on-secondary: #FFFFFF;
    --background: #FFFBFE;
    --surface: #FFFFFF;
    --surface-variant: linear-gradient(168deg, rgba(83,67,124,1), rgba(96,60,84,1) );
    --on-surface: #1C1B1E;
    --error: #B3261E;
    --on-error: #FFFFFF;
    --body-light: #F3F2FD;
    /* Menu on mobile */
    --menu-bg: #F3F2FD;
    --menubar-color: #625871;
    /* Fan-specific Colors */
    --fan-card-bg-on: #F9FFF4; /* Card background when fan is on */
    --fan-card-bg-off: #fbfbfb; /* Card background when fan is off */
    --fan-on-stroke: #808080; /* Fan stroke color when on */
    --fan-off-stroke: var(--fan-indicator-on); /* Fan stroke color when off */
    --fan-slider-thumb-color: var(--fan-indicator-on); /* Slider thumb color */
    --fan-indicator-on: #059212; /* Indicator circle color when on */
    --fan-indicator-off: rgb(128,128,128); /* Indicator circle color when off */
    /* Lamp-specific Colors */
    --lamp-card-bg-on: #FFFDEB; /* Card background when lamp is on */
    --lamp-card-bg-off: #FBFBFB; /* Card background when lamp is off */
    --lamp-indicator-on: #FBB03B; /* Indicator circle color when lamp is on */
    --lamp-indicator-off: rgb(128,128,128); /* Indicator circle color when lamp is off */
}
html, body {
    background-color: var(--body-light) !important;
}

#navbar-title {
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

/* navbar horizontal*/
.navbar-horizontal {
background-color: var(--primary);
color: var(--on-primary);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ظل خفيف */
transition: box-shadow 0.3s ease-in-out;
}
.navbar-horizontal:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.temperature-icon {
color: #FBB03B;
}

.notification-icon {
color: #FFD26A;
}

/*navbar vertical*/
.navbar-vertical {
background: var(--surface-variant);
color: var(--on-primary);
/*box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);*/
/*transition: width 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;*/
}

/* animation text on sidebar */
.navbar-vertical .nav-item span,
#navbar-title {
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* لما الـ Navbar تكون collapsed، hide text */
.navbar-vertical.collapsed .nav-item span,
.navbar-vertical.collapsed #navbar-title {
    opacity: 0;
}

.navbar-vertical .nav-item {
    width: 100%;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.5s ease;
}

    .navbar-vertical .nav-item:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .navbar-vertical .nav-item .icon {
        fill: var(--on-primary);
        width: 24px;
        height: 24px;
    }
