@inherits LayoutComponentBase
<link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css" rel="stylesheet" />

<div class="page">
    <div class="sidebar" style="@IconMenuCssClass">
        <NavMenu ShowIconMenu="ToggleIconMenu" />
    </div>

    <main>
        <div class="top-row px-4">
            @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
            <div class="d-flex w-100 align-items-center justify-content-between">
                <div>Weather</div>
                <div class="d-flex align-items-center">
                    <div><span><img src="_content/SmartHome.Shared/imgs/bellNotification.png" alt="Notification" style="width:50px" /></span></div>
                    <div class="menuDown">

                        <input type="checkbox" id="toggleMenu" />
                        <label for="toggleMenu" class="m-0">
                            <img src="_content/SmartHome.Shared/imgs/user.png" alt="user" class="user-image" />
                        </label>

                        <!-- القائمة المنبثقة -->
                        <div class="menu">
                            <a href="./">Home</a>
                            <a href="./Counter">Logs</a>
                            <a href="#settings">Settings</a>
                            
                        </div>

                        
                     </div>
                </div>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool _iconMenuActive { get; set; } = false;
    private string? IconMenuCssClass => _iconMenuActive ? "width: 250px;" : "width: 80px;";

    protected void ToggleIconMenu(bool iconMenuActive)
    {
        _iconMenuActive = iconMenuActive;
    }
}