@page "/overview"
@layout MainLayout
@using SmartHome.Dto.Dashboard
@using SmartHome.Shared.Components
@using SmartHome.Shared.Interfaces
@inject IFormFactor FormFactor

<PageTitle>Overview</PageTitle>

<AuthorizeView> 
    <Authorized>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

        <div class="w-full mb-2">
            <!-- Card Container -->
            <div class="bg-white shadow-sm rounded-xl p-6 space-y-6">
                <!-- Welcome & Last Update -->
                <div class="flex flex-col md:flex-row md:justify-between md:items-center">
                    <h1 class="text-2xl font-bold text-gray-800">
                        Welcome, <span class="text-indigo-600">@context.User.Identity.Name</span>!
                    </h1>
                    <p class="text-sm text-gray-500 mt-2 md:mt-0">
                        <span>@CurrentDate</span>
                    </p>
                </div>

                <!-- Overview Grid -->
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                    <!-- Weather -->
                    <Weather />

                    <!-- Daily Quote -->
					<DailyQuote />

                    <!-- Home Status -->
					<HomeStatus TempratureSensor="TempratureSensor" />
                </div>
            </div>
        </div>

        <!-- ====================================== -->
        <div class="contanier p-0">
            @if (OverviewData.Areas.Count <= 0)
            {
                <div class="flex items-center justify-center">
                    <span>No Areas Here Yet.</span>
                </div>
            }
            else
            {
                <!-- Main Contaner of areas -->
                <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 p-0 m-0">
                    <!-- to control # of Area in Page-->
                    @foreach (var area in OverviewData.Areas)
                    {
                        <Area AreaModel="area" />
                    }

                    <!-- secound Area test -->

                </div>
            }
            
        </div>
    </Authorized>
    <NotAuthorized> 
        @{ 
            navigationManager.NavigateTo("/login"); 
        } 
    </NotAuthorized>
</AuthorizeView>



@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();


}