@page "/settings"
@using SmartHome.Dto.Email
@using SmartHome.Dto.Settings
@using SmartHome.Shared.Components
@using SmartHome.Shared.Components.Settings_Forms
@using Xamarin.Essentials
@layout MainLayout

<PageTitle>Settings</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="bg-background py-10 px-4 sm:px-10 overflow-x-hidden">
            <h1 class="text-2xl dark:text-gray-50 font-bold mb-8">Settings</h1>
            @if (context.User.IsInRole("Admin"))
            {
                <GlobalSettingsForm></GlobalSettingsForm>

                <EmailSettingsForm></EmailSettingsForm>
            }

            @* show host configuration in mobile devices*@
            @if (isMobile){
                <HostSettingsForm></HostSettingsForm>
            }

        </div>
    </Authorized>
    <NotAuthorized>
        @{
            navigationManager.NavigateTo("/login", false);
        }
    </NotAuthorized>
</AuthorizeView>



@code {
    bool isMobile = false;

    protected override async Task OnInitializedAsync()
    {
		isMobile = PlatformDetectionService.IsMobile();
        await base.OnInitializedAsync();
    }
}